<div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <img class="card-img" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie.poster_path }}" alt="">
      </div>
    </div>
    &nbsp;
    <div class="col-12 col-md-7">
      <div class="card">
        <div class="card-header">
              <h5 class="card-title">Editar Informações:</h5>
        </div>
  
        <div class="card-body">

<form [formGroup]="editarForm" (ngSubmit)="submeter()">
  <div class="form-group">
    <strong> <label>Título:</label></strong>
    <input type="text" value={{movie?.title||movie?.original_name}}  formControlName="titulo" class="form-control form-control-lg">
    <strong>  <label>Lançamento:</label></strong>
    <input type="date" value={{movie?.release_date||movie?.first_air_date}} formControlName="ano" class="form-control form-control-lg">
    <strong><label>Sinopse:</label></strong>
    <textarea value={{movie.overview}} formControlName="sinopse" class="form-control form-control-lg" rows="10" cols="70"></textarea>
  </div>


  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">Confirmar Alterações</button>
    <img *ngIf="loading"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>


        </div>
      </div>
    </div>
  </div>