@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

.card  {
        cursor: pointer;
}
.card-header {
    background: transparent;
}

.col-centered {
    float: none;
    margin: 0 auto;

}

.card-body{
    background-color: #1d1f20;
}

p {
    color:white;
}

body{
    background-color: #1d1f20;
  }

  label {
      color: white;
  }