<div class="container">

  <form>
    <div class="row">
      <div class="col">
        <input type="text" placeholder="Insira o nome do que deseja pesquisar" class="form-control" (click)="goSearch(value)">
      </div>
      <div class="col-4">
        <select name="selectType" class="form-control" (change)="funcaoSelect($event.target.value)">
          <option disabled selected value="0">Selecione que atributo deseja procurar</option>
          <option value="titulo">Título</option>
          <option value="ano">Ano</option>
          <option value="lingua">Língua</option>
        </select>
      </div>
    </div>
  </form>
</div>

<br>

<div class="col-12">
  <div class="card-columns">
    <div class="card bg-dark text-white" (click)="goEdit(movie)" *ngFor="let movie of movies">
     <img class="card-img"
          src="https://image.tmdb.org/t/p/w250_and_h141_face{{ movie.backdropPath }}" alt="_blank" />
      <div class="card-img-overlay-bottom">
        <p class="card-title">{{ movie.title }}</p>
      </div>
    </div>
  </div>
</div>

<!-- <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" [ngModel]=1 (click)="goTo(page)">Previous</a></li>
      <li class="page-item"><a class="page-link" [ngModel]=1 (click)="goTo(page)">1</a></li>
      <li class="page-item"><a class="page-link" [ngModel]=1 (click)="goTo(page)">2</a></li>
      <li class="page-item"><a class="page-link" [ngModel]=1 (click)="goTo(page)">3</a></li>
      <li class="page-item"><a class="page-link" [ngModel]=1 (click)="goTo(page)">Next</a></li>
    </ul>
  </nav> -->
